@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height:100vh;
    color: #2b3134;
    width: 100vw;
    margin: auto;
    font-size: 0.8rem;
    overflow-x: hidden;
    
   

}

.navOpen{
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
p{
 color: rgb(51, 51, 51)
}
* {
  box-sizing: border-box;
}
