.main {
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 4rem;
  padding: 1.5rem 0 1.5rem 0;

  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.socialcard {
  display: flex;
}

.socialcard p {
  padding: 2rem;
  font-weight: 700;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer img {
  padding-top: 40px;
}

.main a,
.footer a {
  color: #6c6c63;
  text-decoration: underline;
}

.main a:hover,
.main a:focus,
.main a:active,
.footer a:hover {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title {
  text-align: center;
  margin-top: 1rem;
}

.description {
  margin: 4rem 0;
  line-height: 1;
  font-size: 1.5rem;
  max-width: 90vw;
}

.blogTitle {
  text-align: center;
  font-size: 2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;

  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 1000px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 460px;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #00f35d;
  transform: scale(1.1);
  z-index: 10;
  transition: 1.1s;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 1rem;
}

.logo {
  height: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.mainNav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  /* box-shadow: 0px 0 0 1px rgb(156, 153, 153); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0;
  padding: 0.1rem 3rem;
  text-align: left;

  font-size: 1.2rem;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  font-family: "Bebas Neue", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "PT Sans Narrow", sans-serif;
  cursor: pointer;
}

.navlink {
  display: flex;
  
}

.navlink h1 {
  padding-left: 2rem;
}

.navlink h1:hover,
.demoimage:hover {
  text-decoration: underline;
  color:rgb(62, 60, 60);
}

.innerLink {
  display: flex;
  flex:1;
  justify-content: space-between;
}

.navToggler {
  display: none;
  background: transparent;
  border: none;


  color: black;
}

.navToggler svg {
  color: #2b3134;
}

.demoimage {
  display: block;
  margin: auto;
}

.socialcard svg:hover,
.demoimage:hover {
  transform: scale(1.5);
  transition: 0.2s all ease-in-out;
  color: black;
}

.demoimage:hover {
  transform: scale(1.1);
  transition: 1.1s ease-out;
}

.handmove {
  animation: mymove 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}
 
@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(16deg);
  }

  20% {
    transform: rotate(-6deg);
  }

  30% {
    transform: rotate(16deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(16deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



.blogTitle {
  font-size: 3rem;
  text-align: justify;
}



.blogHeader:hover {
  text-decoration-color: #252524;
  transition: all 0.5s;

}


.blogContainer {
 
  font-size: 1.3rem;
  /* remove below once data added */
  max-width: 85vw;

  margin-left: auto;
  margin-right: auto;

}

.blogContainer a{
  text-decoration: underline;
  color: #6c6c63;

}

.blogContainer a:hover{
  text-decoration: none;
  color: rgb(73, 73, 75);
}

.blogContainer h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.blogContainer button {
  border: none;
  padding: 1.1rem;
  font-size: 1.1rem;
  width: 9rem;
  background-color: transparent;
}

.blogContainer button a {
  text-decoration: none;
}

.blogContainer button a:hover {
  text-decoration: underline;
}

/* 
.BlogImageContainer{
  text-align: center;
 } */

.notFoundContainer {
  text-align: center;
  font-size: 1rem;
  margin: 8rem;
}

.demoCode {
  font-family: "Fira Code", monospace;
}


@media (max-width: 700px) {
  .navOpen {
    overflow-y: hidden;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 2.3rem;
    max-width: 80vw;
  }

  .description {
    max-width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.5rem;
    text-align: center;
  }

  .card {
    text-align: center;
  }

  .navheader {
    text-align: center;
  }

  .navbar {
    display: block;
    text-align: center;
    margin-left: 0 !important;
  }

  .navlink {
    margin-left: -9000px;

    max-height: 0px;



  }

  .navToggler {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 10;
  }

  .navTogglerfocus {
    transform: rotate(90deg);
    transition: all 1s ease-in-out;
  }

  .navVisible {
    position: absolute;
    max-width: 100vw;
    min-height: 100vh;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 1.4rem;
    transition: all 1s;
    opacity: 95%;





  }

  .innerLink {
    display: block;
  }

  .demoimage {
    text-align: center;
  }

  .socialcard {
    max-width: 60vw;
    display: flex;
    justify-content: center;
    line-height: 0.1rem;
    text-align: center;
    padding: 0.1rem !important;
  }

  .blogTitle {
    font-size: 4rem;
    text-align: justify;
  }

  .blogContainer {
    font-size: 1.2rem;
  }

  .blogContainer h3 {
    font-size: 1rem;
  }

  .notFoundContainer {
    min-width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
    font-size: 1.3rem;
  }
}