.container {

  margin-top: -2rem;
}

.main {
  min-height: 100vh;
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10rem;

  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
   
}

.socialcard{
  display: flex;
  
}
.socialcard p{
  padding: 2rem;
  font-weight: 700;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
 
}

.footer img{
  padding-top: 40px;
}

.main a, .footer a {
  color: #6c6c63;
  text-decoration: underline;
}

.main a:hover,
.main a:focus,
.main a:active, .footer a:hover {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title
 {
  text-align: center;
  margin-top: 1rem;
}

.slidingtext{
  height: 0.1vh;
  width: 10px;
}
.description {
  margin: 4rem 0;
  line-height: 1;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
padding: 1rem;
  max-width: 1000px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 460px;
}

.card:hover,
.card:focus,
.card:active {
 
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
    padding: 1rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  margin-bottom: 2rem;

 
}


.navbar{
margin: 0;
padding: 0  0.4rem 0.1rem 0.1rem;
 text-align: left;
 position: sticky;
 top:0;
 z-index: 10;
 background-color:white;
   border-bottom: 1px solid #eaeaea;
 
}
.navheader{
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 1rem 0rem 0rem 1rem;
  font-family: 'Bebas Neue', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'PT Sans Narrow', sans-serif;
  color: #3e3e39;

 
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title{
    font-size: 2.3rem;
    max-width: 80vw;
  }
 
  .description{
  
    max-width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
     line-height: 2.5rem;
    text-align: center;
    
   
  }
 .card{
   text-align: center;
 }
  .navheader{
    text-align: center;
    margin-left: 0 !important;
  }
  .demoimage{
   text-align: center;
  }

  .socialcard{
    max-width: 60vw;
   display: inline-block;
   line-height: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem !important;
  }
}
